{{#each}}
<form class="search-form" id="search-form">
    <label> =====>
        <!-- <span class="material-icons">
            search
          </span> -->
        <input type="text" class="form__input" name="query" autocomplete="off" placeholder="Search images..." />
    </label>
    <button type="submit" class="form__button--submit"><span class="material-icons">
            search
        </span>
    </button>
    <button type="reset" class="form__button--reset">reset</button>
</form>
{{/each}}
